$nav-link-color:                    var(--color-primary);
$nav-link-hover-color:              var(--color-secondary);
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;